html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0 0 140px 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
}
p {
  margin-top: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
}
h2 {
  font-size: 2em;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.container {
  max-width: 1170px;
  margin: 0 auto;

  &.container_wide {
    width: 100%;
    max-width: none;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }

  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // margin-top: 100px;
  text-align: center;
  background-color: whitesmoke;
  border-top: 1px solid #e0e0e0;
  color: grey;
  padding: 10px 0;
}
h1, h2, h3 { font-weight: 600; }

.empty-portfolio {
  text-align: center;
  margin-top: 250px;
}

.portfolio {
  .container {
    position: relative;

    &.container_wide {
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
