---
layout: landing
---

<div class="home">

  <img src="/assets/imgs/avatar.jpg" alt="Eduardo Messuti" class="pf_avatar">

  <h1>Hi, I'm Eduardo!</h1>

  <div class="pf_summary">
    {{ content }}
  </div>

  <div class="container portfolio_projects">
    <h2 class="page-heading">Portfolio</h2>

    <div class="portfolio-items">
      {% for project in site.projects %}
        <div class="project_container">
          <a class="project_img" href="{{ project.url | relative_url }}" style="background-image:url({{ project.images | first }})" />
          <a class="project_name" href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
        </div>
      {% endfor %}
    </div>
  </div>

  <hr>

  <div class="pf_contact">
    <a target="_blank" class="btn btn-default" href="mailto:messuti.edd@gmail.com">Email me</a>
  </div>

  <div class="pf_social_links">
    <a target="_blank" href="http://github.com/messutied" title="Github"><img src="/assets/imgs/github.png" alt="Github"></a>
    <a target="_blank" href="http://twitter.com/messutied" title="Twitter"><img src="/assets/imgs/circle-twitter.png" alt="Twitter"></a>
    <a target="_blank" href="http://www.linkedin.com/in/messutiedd" title="Linkedin"><img src="/assets/imgs/circle-linkedin.png" alt="LinkedIn"></a>
  </div>
</div>
