<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="portfolio">

    <div class="container portfolio_site_item">
      {% include page_header.html %}

      <hr>
      <div class="item_title">
        <h1>{{ page.title }}</h1>
        <a class="go_back" href="javascript:history.back()">〈 Back</a>
      </div>
      <hr>
      <br>
      <br>

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
    </div>

    {% include footer.html %}

  </body>
</html>
