---
layout: page
---

<div class="cols">
  <div class="left-col">
    <div class="project_description">
      {{ content }}
    </div>
    <div class="project_tags">
      {% for tag in page.tags %}
      <a href="/portfolio#tag={{ tag | escape }}" class="label label-default">{{ tag }}</a>
      {% endfor %}
    </div>
    {% if page.link %}
      <br>
      <a href="{{ page.link }}" class="btn btn-default go_to_site" target="_blank">Go to site 🔗</a>
    {% endif %}
  </div>

  <div class="right-col">
    <div class="project-images">
      <img src="{{ page.images | first }}" class="main-image">
      <div class="images-previews">
        {% assign index = 0 %}
        {% for img in page.images %}
          {% assign className = "inactive" %}
          {% if index == 0 %}
            {% assign className = "active" %}
          {% endif %}
          <a href="#" class="{{ className }}"><img src="{{ img }}"></a>
        {% assign index = index | plus: 1 %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var mainImg, previews;

  function onImgPreviewClick(evt) {
    evt.preventDefault();
    mainImg.src = evt.currentTarget.children[0].src;
    for (var i = 0; i < previews.length; i++) {
      previews[i].classList.remove('active');
    }
    evt.currentTarget.classList.add('active');
  }

  window.onload = function() {
    previews = document.querySelectorAll('.images-previews a');
    mainImg = document.querySelector('.main-image');

    for (var i = 0; i < previews.length; i++) {
      previews[i].addEventListener('click', onImgPreviewClick, false);
    }
  }
</script>

{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}
